<div class="col-md-6 offset-md-3 bg-light p-4 rounded shadow">
    <h1>Upload a new picture!</h1>
    <form method="post" action="/home/upload" enctype="multipart/form-data">
    <input class="form-control" name="pictureName" id="picture-name" placeholder="Picture Name" />
    <input type="file" class="form-control" name="pictureFile" id="picture-file" />
    <button class="btn btn-info" >Upload!</button>
    </form>
</div>